*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}


.bg{
    background-color: navy;
    display: flex;
    width: 1000px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.caixa{
    width: 450px;
    height: 700px;
    background-color: #fff;
    border-radius: 20px;
}

.caixa img{
    border-radius: 20px 20px 0 0;
}

.order{
    display: block;
    flex-direction: column;
    max-width: 325px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.order h1{
    margin-top: 40px;
    text-align: center;
}

.order > p{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}

.box-valor{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(252, 244, 244);
    border-radius: 15px;
    max-width: 325px;
    align-items: center;
    margin-top: 30px;
}

.box-valor img{
    padding: 20px;
}

.box-valor a{
    padding: 20px;
    margin-left: 50px;
    font-weight:300;
}

.payment{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: blue;
    max-width: 350px;
    margin: 0 auto;

    margin-top: 30px;
    border-radius: 10px;
}

.payment a{
 text-decoration: none;
 color: #fff;
 font-weight: 200;
}

.cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.caixa a{
    text-decoration: none;
    font-size: 20px;
}

.payment:hover{
    background-color: blueviolet;
}

.cancel a:hover{
    color: red;
    font-weight: 600;
}

.box-valor a:hover{
    color: rgb(154, 154, 255);
}